In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
# Q2: (A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of 
# the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories.
# TAT is defined as sample collected to report dispatch.
# Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 
# 5% significance level.)

In [3]:
# null hypothesis is mean1 = mean2 = mean3 = mean4
# Alternate hypothesis is mean1 != mean2 != mean3 != mean4

In [4]:
Q2=pd.read_csv('LabTAT.csv')

In [5]:
Q2.head(2)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79

In [6]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(Q2.iloc[:,0],Q2.iloc[:,1],Q2.iloc[:,2],Q2.iloc[:,3])
p_value[1]

2.1156708949992414e-57

In [7]:
# compare it with Î± = 0.05
0.05>p_value[1]

True

In [8]:
# As p_value is greater than significance value we fail to reject the null hypothesis
# So there is no difference in average TAT among the different laboratories at 5% significance level.